<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
    <title>Leilões Online</title>
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Seja Bem Vindo!        
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-12">
          <%= render 'layouts/carousel' %>

        </div> 
      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Produtos em destaque</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

  
<% @auctions.each do |auction| %>
<div class="col-sm-6 col-md-4 col-lg-3 mt-4" style= "height: 600px; float: left !importnat; ">
  <div class="card" >
    <h4 class="card-title"> <%= auction.title%></h4>
    <%= link_to  visitor_path(@auction, :id=> auction.id) do %>
      <%= image_tag(auction.image.url(:medium), class: "card-img-top") %>
    <% end %>   
      <div class="card-block">
           
           
          <div class="card-text">
         
          
                <p> Início: <%= auction.begin_date%> </p>
              <p> Fim: <%= auction.begin_date%> </p>
              <p><% auction.products.each do |product| %>
              <%= product.name  %>,
          
              <% end %></p>
          </div>
      </div> 
    </div>
</div>  
<% end %>  

      </div>
      <!-- /.row -->

    </div>


    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Online Auctions 2017</p>
      </div>
      <!-- /.container -->
    </footer>  
  </body>
</html>