


    <div align="center">
  <h3>Cadastrar Leilao</h3>

  <%= simple_form_for @auction, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :product_name, :required => true %>
    </br>
    <%= f.input :number, :required => true %>
    </br>
    <%= f.input :price, :required => true %>
    </br>
   <%= f.file_field :image %>
    </br>
    <%= f.input :description, :required => true %>
    </br>
    <%= f.input :status, :required => true %>
   
   
      </br>
      <%= f.button :submit, 'Cadastrar', :class=> "btn btn-primary" %>
    
  <% end %>
</div>

 