
<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card">
        <%= image_tag(product.images.first.url(:medium), class: "card-img-top ")%>
        
            <h4 class="card-title mt-3"><%= product.name %></h4>
            <div class="meta">
                <a>Descrição</a>
            </div>
            <div class="card-text">
                <p><%= product.description %>.</p>
                <hr>
                <strong>Preço: </strong><%= product.price %>
            </div>
        </div>
        <div class="card-footer">
           <%= link_to "Editar", edit_product_path(product.id), :class => 'button-xs' %>
             <%= link_to("Deletar Produto", product_path(product.id), :method => :delete, :class => 'button-xs') %>
        </div>
    </div>
</div>



