 
<div class="column md8">
  <h3>Cadastrar Leilao</h3>

  
  <%= simple_form_for @product, :html => {:class => 'form-horizontal' } do |f| %>
  </br>
     <%= f.label :Nome %>
     <%= f.text_field :name%>
  </br>
  </br>
     <%= f.label :Preco %>
     <%= f.text_field :price%>
  </br>
      <%= f.button :submit, 'Cadastrar', :class=> "btn btn-primary" %>
    </br>
  <% end %>
</div>

     